@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: whitesmoke;
}
.container {
  width: 50%;
  margin: 2rem auto;
  padding: 1rem 3rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0.1rem 0.1rem 1rem rgb(0, 0, 0, 0.2);
}
h1 {
  font-size: 3rem;
  display: inline;
}
span {
  display: block;
  font-size: 2rem;
}
p,
a {
  display: inline;
  font-size: 1.5rem;
}
div label {
  display: inline;
}
